@model ClinicaPetHeroWeb.Data.Entities.Animal

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <h1>Animals</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="ControlPanel">Home</a></li>
            <li class="breadcrumb-item">Clients</li>
            <li class="breadcrumb-item">Animals</li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit</h5>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />


                        <div class="row mb-3">
                            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <label asp-for="Age" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Age" class="form-control" />
                            </div>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <label asp-for="Weight" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Weight" class="form-control" />
                            </div>
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <label asp-for="Sex" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Sex" class="form-control" />
                            </div>
                            <span asp-validation-for="Sex" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <label asp-for="Species" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Species" class="form-control" />
                            </div>
                            <span asp-validation-for="Species" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Is Neutered</legend>
                            <div class="col-sm-10">
                                <input class="form-check-input" type="checkbox" asp-for="IsNeutered" />
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }
